<div class="container bg-white mt-5 mb-5 pt-3 pb-3">
    <h2>Get the App</h2>
    <p>Instructions for <a href="{{STORAGE_URL}}/app/ebriders.pdf">riders</a> and <a href="{{STORAGE_URL}}/app/eborganisers.pdf">organisers</a> are here.</p>
    <p>To install the app, browse to this page on your phone and click a button below:</p>
    
        <div class="col-md-2">
            <a href='https://play.google.com/store/apps/details?id=org.fentonallison.ebf&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width:150px" alt='Get it on Google Play' src='../../../assets/images/google-play-badge.png'/></a>
        </div>
        <div class="col-md-2">
            <a href='https://apps.apple.com/gb/app/fentonallison/id1553482918'><img style="width:130px; margin:10px" alt='Download on the App Store' src='../../../assets/images/apple_store_badge.svg'/></a>
        </div>
    <p>Once you have the app installed, enter your audax.uk credentials on the settings page, and the code for the ride you want to do.</p>
    <p>To try the app from home, download ride "X1000" ("The Sofa Surfer") or "X1000QR" (the same ride, but you have to scan a QR code (the one below) 
        for the second control. In either case you will have to skip the third control - the app will report that you're out of range</p>
    <p><img width="200px" src="{{STORAGE_URL}}/images/X1000QR.png"></p>
    
</div>

