<div class="container mt-5">
    
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
             
        <div class="class=form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 bg-white rounded">
                <div class="form-group mt-3">
                    <input name="email" id="email" class="form-control" placeholder="e-mail" [(ngModel)]="credential.email" required>
                </div>
            
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="password" class="form-control" [(ngModel)]="credential.password" required>
                </div>
                <div class="class=form-group">
                    <label></label>
                    <input type="submit" class="btn btn-primary form-control" value="Log in" required>
                    <p><small>Forgotten Password? Contact the E-Brevet developers...</small></p>
                   
                </div>
            </div>
        </div>
             
    </form>
</div>
