<div class="modal-header">

    <h2 class="modal-title">Organiser Details</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form #orgForm="ngForm" (ngSubmit)="editOrg()">
        <fieldset>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Membership No:</label>
                <div class="col-md-2">
                    <input class="form-control col-md-12" type="text" name="_id" [(ngModel)]="organiser._id" [disabled]="!isNew" required (change)="getDetails()">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Name:</label>
                <div class="col-md-6">
                    <input class="form-control col-md-12" type="text" name="_id" value="{{organiser.firstname}} {{organiser.lastname}}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Org. E-Mail:</label>
                <div class="col-md-6">
                    <input class="form-control col-md-12" class="form-control col-md-12" type="text" name="email" pattern="^[\w.]+@[a-zA-Z_]+?.[a-zA-Z.]{2,20}$" [(ngModel)]="organiser.email" [disabled]="editDisabled">
                </div>
                
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Admin Group:</label>
                <div class="col-md-2">
                    <input class="form-control col-md-12" type="text" name="adminGroup" [(ngModel)]="organiser.adminGroup" required [disabled]="editDisabled">
                </div>
                <label class="col-md-2 col-form-label audax-label">Region:</label>
                <div class="col-md-2">
                    <select class="form-control col-md-12" name="region" [(ngModel)]="organiser.region" required [disabled]="editDisabled">
                        <option *ngFor="let region of regions">{{region}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Level:</label>
                <div class="col-md-2">
                    <select class="form-control col-md-12" name="levels" [(ngModel)]="organiser.level" [disabled]="!isAdmin">
                        <option [value]="level" *ngFor="let level of refData.eventOrgLevels()">{{level}}</option>
                    </select>
                </div>
                <label class="col-md-2 col-form-label audax-label">Provisional:</label>
                <div class="col-md-1">
                    <input class="form-control col-md-12" type="checkbox" name="provisional" [(ngModel)]="organiser.provisional" [disabled]="editDisabled">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Online Payment:</label>
                <div class="col-md-2">
                    <select class="form-control col-md-12" name="onlinePayment" [(ngModel)]="organiser.onlinePaymentType" required [disabled]="editDisabled">
                        <option *ngFor="let x of onlinePaymentTypes">{{x}}</option>
                    </select>
                </div>
                <label class="col-md-2 col-form-label audax-label">Postal Payment:</label>
                <div class="col-md-2">
                    <select class="form-control col-md-12" name="postalPayment" [(ngModel)]="organiser.postalPaymentAllowed" required [disabled]="editDisabled">
                        <option [ngValue]=true>Yes</option>
                        <option [ngValue]=false>No</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Stripe Account:</label>
                <div class="col-md-6">
                    <input class="form-control col-md-12" type="text" name="stripeAccount" [(ngModel)]="organiser.stripeAccount" [disabled]="editDisabled" [required]="organiser.onlinePaymentType==='Stripe'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Paypal Email:</label>
                <div class="col-md-6">
                    <input class="form-control col-md-12" type="text" name="paypalEmail" [(ngModel)]="organiser.paypalEmail" pattern="^[\w.]+@[a-zA-Z_]+?.[a-zA-Z.]{2,20}$" [disabled]="editDisabled" [required]="organiser.onlinePaymentType==='Paypal'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Website URL:</label>
                <div class="col-md-6">
                    <input class="form-control col-md-12" type="text" name="websiteURL" [(ngModel)]="organiser.websiteURL" [disabled]="editDisabled">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Enabled:</label>
                <div class="col-md-2">
                    <select class="form-control col-md-12" name="enabled" [(ngModel)]="organiser.enabled" required [disabled]="!isAdmin">
                        <option [ngValue]=true>Yes</option>
                        <option [ngValue]=false>No</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Logo:</label>
                <div class="col-md-2" *ngIf="organiser.logoFileUrl">
                    <a class="btn btn-primary form-control col-md-12" href="{{STORAGE_URL}}/{{organiser.logoFileUrl}}" target="_blank">View Logo</a>
                </div>
                <div class="col-md-2" *ngIf="!organiser.logoFileUrl">
                    <button class="btn btn-primary form-control col-md-12" disabled="disabled">No Logo</button>
                </div>
                <label class="col-md-2 col-form-label audax-label">Upload logo file:</label>
                <div class="col-md-4">
                    <input class="form-control col-md-12 " type="file" (change)="readFile($event.target.files)" accept=".jpg, .jpeg, .png .svg" required>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary form-control col-md-12" (click)="upload($event)" [disabled]="editDisabled">Upload</button> 
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label audax-label">Roles:</label>
                <div class="col-md-2">
                    <select class="form-control col-md-12" name="roles" [(ngModel)]="organiser.role" [disabled]="!isAdmin" multiple>
                        <option [value]="role" *ngFor="let role of refData.roles()">{{role}}</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-md-2">
                    <input class="btn btn-primary form-control" type="submit" [disabled]="!orgForm.form.valid" value="Save" [disabled]="editDisabled">
                </div>
            </div>
        </fieldset>
    </form>
            
</div>


