<footer>
    <div class="container-fluid bg-secondary text-white">
        <a href="https://www.audax.uk"><img style="width:100px; margin-top:10px" src="../../../assets/images/audax-logo.png"></a>
        <div class="float-right">
            <!--<a href="https://en-gb.facebook.com/groups/audaxuk/"><img src="../../assets/images/icons/facebook-new.png" width="30px"></a>
            <a href="https://twitter.com/AudaxUK"><img src="../../assets/images/icons/twitter-circled.png" width="30px"></a>-->
        </div>
        <div>
            <span class="small">&#169; {{thisYear}} Audax.uk. All Rights Reserved.</span>
        </div>
    </div>
</footer>
